<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
  </head>
  <body>
    <h1>Mystery Word</h1>
    <h3>{{guessCountMessage}}</h3>
    <p>_ _ _ _ _ _ _ _</p>
    <form method="post">
      <input type="text" name="guess" value="">
      <button type="submit" name="button">Make a Guess</button>
      <p id={{id}}>Letters guessed:
        {{#guessedLetters}}
        <p id={{id}}>{{guess}}</p>
        {{/guessedLetters}}

      </p>
    </form>
    </script>
  </body>
</html>
