<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
  </head>
  <body>
    <h1>Mystery Word</h1>

    <h3>{{guessCountMessage}}</h3>

    {{#lose}}
      <span>{{.}}</span>
    {{/lose}}

    {{#wordBlanks}}
      <span>{{.}}</span>
    {{/wordBlanks}}
    <form method="post">
      <input type="text" name="guess" value="" maxlength="1">
      <button type="submit" name="button">Make a Guess</button>
      <p id={{id}}>Letters guessed:
        {{#guessedLetters}}
        <span id={{id}}>{{guess}}</span>
        {{/guessedLetters}}
        <!-- <p>{{word}}</p> -->
    </form>
    </script>
  </body>
</html>
